.NavBar {
  display: flex;
  justify-content:center;
  position: fixed;
  width: 100%;
  top: 0%;
}

// 顶部导航栏选项
.navBarOptions {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
  max-width: 800px;
}

.navBarOptions a {
  color: rgba(255,255,255,0.5);
  width: 34.6px;
  margin: 5%;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
 //a 标签和class在同一级
 &.checked{
   color: white;
   padding-bottom: 11px;
   border-bottom: 2px solid white;
 }
 &.searchButton{
   margin-top: 4%;
   margin-right: 4%;
   font-size: x-large;
 }
}