.video {
  position: relative;
  background-color: black;
  width: 100%;
  height: 100%;
  scroll-snap-align: start;
}

.video-player {
  -webkit-object-fit: scale-down;
  -moz-object-fit: scale-down;
  -ms-object-fit: scale-down;
  -o-object-fit: scale-down;
  object-fit: scale-down;
  width: 100%;
  height: 100%;
  top: 50%;   
  left: 50%;   
  }

.video-pause {
  position: absolute;
  // margin-left: 45%;
  // margin-top: 79%;
  top: 50%;   
  left: 50%;   
  -webkit-transform: translate(-50%, -50%);   
  -moz-transform: translate(-50%, -50%);   
  -ms-transform: translate(-50%, -50%);   
  -o-transform: translate(-50%, -50%);   
  transform: translate(-50%, -50%);   
  opacity: 0.5;
}
.pause-icon {
  height: 50px;
}

.music-record {
  position: absolute;
  top: 75%;
  left: 78%;
}